{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "indentation": 2,
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "color-named": "never",
    "selector-combinator-space-after": "always",
    "number-leading-zero": "always",
    "function-url-quotes": "always",
    "font-family-name-quotes": "always-unless-keyword",
    "selector-pseudo-element-colon-notation": "double"
  }
}