.button {
  @include button-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 50px;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.15em;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 15px;
    line-height: 17px;
  }
}
