.button {
  @include button-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  min-height: 50px;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.15em;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

@media (min-width: $tablet) {
  .button {
    font-size: 15px;
    line-height: 17px;
  }
}

@media (min-width: $desktop) {
  .button {
    font-size: 11px;
    line-height: 12px;
  }
}
