.discount {
  margin-bottom: 100px;
}

.discount__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 170px;

  background-image: url("../img/discount-img-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina) {
    background-image: url("../img/discount-img-mobile@2x.jpg");
  }

  @media (min-resolution: $retina-plus) {
    background-image: url("../img/discount-img-mobile@3x.jpg");
  }
}

.discount__inner {
  padding-top: 25px;

  h2 {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      bottom: -19px;
      left: 0;
      width: 86px;
      height: 2px;
      background-color: $white;
    }
  }

  button {
    width: 220px;
    background-color: $black;
  }
}

.discount__list {
  @include list-reset;

  margin-bottom: 40px;
}

.discount__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet) {
  .discount__wrapper {
    padding-top: 325px;
    background-image: url("../img/discount-img-tablet@1x.jpg");

    @media (min-resolution: $retina) {
      background-image: url("../img/discount-img-tablet@2x.jpg");
    }

    @media (min-resolution: $retina-plus) {
      background-image: url("../img/discount-img-tablet@3x.jpg");
    }
  }

  .discount__inner {
    padding-top: 30px;

    h2 {
      padding: 0 70px;
      text-align: center;
  
      &::after {
        left: calc(50% - 43px)
      }
    }

    button {
      margin: 0 auto;
    }
  }

  .discount__img {
    width: 453px;
    height: 323px;
  }

  .discount__list {
    margin: 0 auto 30px;
    width: 70%;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .discount__wrapper {
    padding-top: 0;
    flex-direction: row;
    background-image: url("../img/discount-img-desktop@1x.jpg");
    background-position: right center;

    @media (min-resolution: $retina) {
      background-image: url("../img/discount-img-desktop@2x.jpg");
    }

    @media (min-resolution: $retina-plus) {
      background-image: url("../img/discount-img-desktop@3x.jpg");
    }
  }

  .discount__inner {
    padding-top: 60px;
    padding-left: 10%;
    width: 50%;

    h2 {
      padding: 0;
      max-width: 300px;
      font-size: 30px;
      line-height: 51px;
      text-align: left;
  
      &::after {
        left: 0;
      }
    }

    button {
      margin: 0;
    }
  }

  .discount__img {
    width: 697px;
    height: 410px;
  }

  .discount__list {
    margin: 0;
    margin-bottom: 30px;
    width: 70%;
    text-align: left;
  }
}