.main-nav__toggler {
  @include button-reset;

  position: absolute;
  right: 10%;
  top: 27px;
  display: flex;
  justify-content: center;
  width: 37px;
  height: 11px;
  cursor: pointer;
  outline: none;

  .rotated {
    transform: rotate(45deg);
  }

  &:focus::before {
    content: "";
    position: absolute;
    top: -9px;
    width: 50px;
    height: 30px;
    border: 1px solid $white;
  }
}

.main-nav__toggler--top,
.main-nav__toggler--bot {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $white;
  transition: all 0.3s ease;
  transform: rotate(0deg);
}

.main-nav__toggler--bot {
  top: 10px;

  &.rotated {
    transform: rotate(-45deg);
  }
}

.main-nav__toggler-label {
  display: none;
}

.main-nav__list {
  @include list-reset;

  padding: 30px 0 50px;
  height: calc(100vh - 65px);
  text-align: center;
}

.main-nav__item {
  margin-bottom: 10%;
  padding: 5px 45px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-nav__link {
  display: block;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: $white-faded;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;

  &--active {
    font-size: 25px;
    line-height: 28px;
    color: $white;
  }

  &:focus,
  &:hover {
    color: $white;
  }
}

@media (min-width: $tablet) {
  .main-nav__toggler {
    top: 32px;
  }

  .main-nav__list {
    padding-top: 100px;
    height: 100vh;
  }

  .main-nav__item {
    margin-bottom: 5%;
    padding: 0 165px;
  }

  .main-nav__link {
    font-size: 30px;
    line-height: 33px;

    &--active {
      font-size: 45px;
      line-height: 50px;
    }
  }
}

@media (min-width: $desktop) {
  .main-nav__toggler {
    top: 74.5px;
    right: 10%;
  }

  .main-nav__toggler-label {
    position: absolute;
    top: -5px;
    left: 50px;
    display: block;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $white;
    text-transform: uppercase;
  }

  .main-nav__list {
    padding-top: 20px;
  }
  
  .main-nav__item {
    padding: 0 30%;
  }

  .main-nav__link {
    font-size: 35px;
    line-height: 39px;

    &--active {
      font-size: 45px;
      line-height: 50px;
    }
  }
}