.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $black, $alpha: 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.modal__wrapper--img {
  display: none;
}

.modal__close {
  @include button-reset;

  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  font-size: 0;
  cursor: pointer;
}

.modal__inner {
  position: relative;
  top: 120px;
  padding: 60px 20px 50px;
  min-height: 400px;
  background-color: $bg-main;

  h2 {
    margin: 0;
    margin-bottom: 35px;
    padding: 0 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet) {
  .modal__inner {
    padding: 60px 45px 50px;
    width: 60%;

    h2 {
      padding: 0 70px;
      font-size: 30px;
      line-height: 33px;
    }
  }
}

@media (min-width: $desktop) {
  .modal__inner {
    display: flex;
    padding: 0;
    width: 672px;

    h2 {
      padding: 0 20px;
      font-size: 20px;
      line-height: 22px;
    }
  }

  .modal__wrapper {
    flex-shrink: 0;
    display: block;
    width: 50%;

    &--form {
      padding: 60px 30px;
    }
  }
}
