.page-header {
  position: relative;
}

.page-header__inner {
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 1px; // for IE
  min-height: 65px;
}

.page-header__logo {
  position: relative;
  display: block;
  z-index: 100;
  outline: none;
  
  &:focus::before {
    content: "";
    position: absolute;
    left: -5px;
    width: 130px;
    height: 50px;
    border: 1px solid $white;
  }
}

@media (min-width: $tablet) {
  .page-header__inner {
    min-height: 75px;
  }

  .page-header__logo img {
    width: 137px;
    height: 47px;
  }
}

@media (min-width: $desktop) {
  .page-header__inner {
    padding: 0;
    min-height: 160px;
  }
}
