.promo {
  padding-top: 103px;
  min-height: 466px;
  height: calc(100vh - 65px);
  background-image: url("../img/header-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: $retina) {
    background-image: url("../../img/header-bg-mobile@2x.png");
  }

  @media (min-resolution: $retina-plus) {
    background-image: url("../../img/header-bg-mobile@3x.png");
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;
  font-family: $font-title;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
}

.promo__link {
  margin: 0 auto 70px;
  border: 1px solid $white;
  background-color: rgba($color: black, $alpha: 0.4);
}

.promo__socials {
  margin-bottom: 10px;
}

.promo__arrow {
  margin: 0 auto;
  width: 30px;
  font-size: 0;
}

.promo__mouse {
  display: none;
}

@media (min-width: $tablet) {
  .promo {
    margin-top: -75px;
    padding-top: 20%;
    min-height: 880px;
    height: 100vh;
    background-image: url("../img/header-bg-tablet@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../../img/header-bg-tablet@2x.png");
    }

    @media (min-resolution: $retina-plus) {
      background-image: url("../../img/header-bg-tablet@3x.png");
    }
  }

  .promo__title {
    margin-bottom: 20%;
    font-size: 70px;
    line-height: 77px;
  }

  .promo__link {
    margin-bottom: 45px;
    width: 257px;
    height: 60px;
  }

  .promo__socials {
    margin-bottom: 10%;
  }

  .promo__arrow {
    svg {
      height: 40px;
      width: 30px;
    }
  }
}

@media (min-width: $desktop) {
  .promo {
    margin-top: -160px;
    padding-top: 12%;
    background-image: url("../img/header-bg-desktop@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/header-bg-desktop@2x.png");
    }

    @media (min-resolution: $retina-plus) {
      background-image: url("../img/header-bg-desktop@3x.png");
    }
  }

  .promo__inner {
    display: flex;
    flex-direction: column;
  }

  .promo__title {
    margin-bottom: 5%;
    padding: 0 15%;
    font-size: 120px;
    line-height: 132px;
  }

  .promo__link {
    font-size: 12px;
    line-height: 13px;
  }

  .promo__socials {
    margin: 0 auto;
    width: 90%;
  }

  .promo__arrow {
    position: relative;
    display: block;
    align-self: flex-end;
    margin: -40px 60px 0 0;
    color: $white;
  }

  .promo__arrow-label {
    position: absolute;
    display: block;
    top: -100px;
    left: -73px;
    width: 180px;
    display: block;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    transform: rotate(90deg);
  }

  .promo__mouse {
    display: block;
    margin: 0 auto;
    margin-top: -120px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
