.slider {
  position: relative;
}

.slider__inner {
  position: relative;
  width: 290px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__list {
  @include list-reset;

  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto 10px;
}

.slider__item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 auto 15px;
  width: 290px;
}

.slider__link {
  position: relative;
}

.slider__caption {
  position: absolute;
  bottom: 15px;
  left: calc(50% - 125px);
  margin: 0;
  max-width: 230px;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba($color: $white, $alpha: 0.9);
  transition: all 0.5s ease;

}

.slider__button {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 200px;
  background-color: $white;
  color: $black;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 360px;
}

.slider__bullet {
  display: block;
  width: 20%;
  height: 3px;
  border-radius: 5px;
  background-color: rgba($color: $white, $alpha: 0.3);
  transition: background-color 0.3s;

  &--active {
    background-color: $white;
  }
}

@media (min-width: $tablet) {
  .slider__inner {
    width: 658px;
  }

  .slider__item {
    width: 330px;

    &:hover {
      .slider__button {
        opacity: 1;
      }

      .slider__caption {
        bottom: 75px;
      }
    }
  }

  .slider__bullet {
    width: 30%;
    
    &:last-child {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .slider__inner {
    width: 100%;
  }

  .slider__item {
    margin-top: 15px;
    width: 290px;
    box-shadow: transparent, transparent;
    transition: all 0.3s ease;


    &:hover {
      box-shadow: 0 0 0 10px $bg-main,
                  0 0 0 11px $white-faded;
    }
  }

  .slider__button {
    left: 20px;
  }

  .slider__controls {
    display: none;
  }
}
