.thumbnails {
  position: relative;
}

.thumbnails__list {
  @include list-reset;

  display: flex;
  justify-content: center;
}

.thumbnails__item {
  flex-shrink: 0;
  margin-right: 15px;

  &--mobilehidden {
    display: none;
  }

  &--desktop {
    display: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.thumbnails__button {
  display: none;
}

@media (min-width: $tablet) {
  .thumbnails__item {
    &--mobilehidden {
      display: block;
    }
  }

  .thumbnails__img {
    width: 145px;
    height: 145px;
  }
}

@media (min-width: $desktop) {
  .thumbnails {
    position: relative;
  }

  .thumbnails__inner{
    position: relative;
    width: 537px;
    height: 123px;
    overflow: hidden;
  }

  .thumbnails__button {
    position: absolute;
    display: block;
    left: 515px;
    top: 38.5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: rgba($color: $black, $alpha: 0.4);
    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    &--used {
      transform: rotate(180deg);
    }

    &:focus {
      box-shadow: 0 0 5px $white;
    }

    &:hover {
      background-color: rgba($color: $black, $alpha: 0.8);
    }
  }

  .thumbnails__list {
    position: absolute;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .thumbnails__item {
    &--desktop {
      display: block;
    }
  }

  .thumbnails__img {
    width: 123px;
    height: 123px;
  }
}