.thumbnails {
  position: relative;
  max-width: 90%;
}

.thumbnails__list {
  @include list-reset;
}

.thumbnails__dots {
  @include list-reset;

  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;

  li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.thembnails__bullet {
  @include button-reset;

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba($color: $black, $alpha: 0.4);
}

.thumbnails__item {
  img {
    margin-left: calc(50% - 37.5px);
  }
}

@media (min-width: $tablet) {
  .thumbnails__item img {
    margin-left: calc(50% - 72.5px);
    width: 145px;
    height: 145px;
  }
}

@media (min-width: $desktop) {
  .thumbnails__list {
    position: relative;
  }

  .thumbnails__button {
    position: absolute;
    display: block;
    top: 38.5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: rgba($color: $black, $alpha: 0.4);
    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    cursor: pointer;
    outline: none;
    z-index: 100;
    transition: all 0.3s ease;

    &:focus {
      box-shadow: 0 0 5px $white;
    }

    &:hover {
      background-color: rgba($color: $black, $alpha: 0.8);
    }

    &--next {
      right: -3.5%;
    }

    &--previous {
      left: -30px;
      transform: rotate(180deg);
    }
  }

  .thumbnails__item {
    img {
      margin: 0;
      width: 123px;
      height: 123px;
    }
  }
}
