//colors
$bg-main: #3b181e;
$white: #ffffff;
$white-faded: rgba($color: $white, $alpha: 0.5);
$black: #010001;
$stroke-color: #F6F6F9;

//fonts
$font-title: "Playfair Display", "Georgia", serif;
$font-main: "Forum", "Georgia", serif;

//widths
$mobile: 320px;
$tablet: 768px;
$desktop: 1366px;
//resolution
$retina: 1.5dppx;
$retina-plus: 2.5dppx;
